<!-- clients -->
<div>
  <nz-breadcrumb>
    <nz-breadcrumb-item>Dashboard</nz-breadcrumb-item>
    <nz-breadcrumb-item>Clients</nz-breadcrumb-item>
  </nz-breadcrumb>
  <div class="page-inner-content">
  <!--card-->
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="24">
        <nz-card [nzExtra]="tableFunctions" nzBorderless="true">
          <ng-template #tableFunctions>
            <div nz-row nzGutter="24">
              <!-- search -->
              <div nz-col class="gutter-row" [nzSpan]="10">
                <nz-input-group [nzSuffix]="suffixIconSearch">
                  <input type="text" nz-input placeholder="search..." (ngModelChange)="clientSearch($event)" ([ngModel])="this.searchValue"/>
                </nz-input-group>
                <ng-template #suffixIconSearch>
                  <i nz-icon nzType="search"></i>
                </ng-template>
              </div>
              <!-- date picker -->
              <div nz-col class="gutter-row" [nzSpan]="10">
                <nz-range-picker (ngModelChange)="onChange($event)"></nz-range-picker>
              </div>
              <!-- export  -->
              <div nz-col class="gutter-row" [nzSpan]="4">
                <button nz-button nzType="primary"><i nz-icon nzType="export" nzTheme="outline"></i> Export</button>
              </div>
            </div>
          </ng-template>
          <!-- table -->
          <nz-table #clientsTable [nzData]="clients" [nzLoading]="this.isPageLoading">
            <thead>
              <tr>
                <th>Full Name</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>ID Number</th>
                <th>Date Created</th>
                <th>Date Updated</th>
              </tr>
            </thead>
            <tbody >
              <tr *ngFor="let client of clientsTable.data" (click)="this.clientDetails(client)" style="cursor: pointer;">
                <td>{{client.firstName}} {{client.middleName}} {{client.lastName}}</td>
                <td>{{client.phoneNumber}}</td>
                <td>{{client.email}}</td>
                <td>{{client.idNumber}}</td>
                <td>{{client.createdAt | date: 'd MMM y'}}</td>
                <td>{{client.updatedAt | date: 'd MMM y'}}</td>
              </tr>
            </tbody>
          </nz-table>
          <!-- end table -->
        </nz-card>
      </div>
    </div>
    <!-- end card -->
  </div>
</div>
<!-- end clients -->
